body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.login-form-container {
    background-color: #f2f2f2;
    padding: 20px;
}

.login-heading {
    margin-left: -85%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}



.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 12px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 600px;
    font-size: 20px;
}

.login-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    max-width: 600px;
}

.login-btn:hover {
    background-color: #000000;
}