.navbar {
    width: 100vw;
    font-weight: bold;
    background-color: #000000;
  }
  
  .navbar-ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0;
    width: 100%;
  }
  
  .navbar-links {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-left: 70px;
  }

  .navbar-auth {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 70px;
  }
  
  .navbar-ul li {
    margin-right: 100px;
    

  }
  
  .navbar-ul-li-a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all ease-in-out 500ms;
  }
  
  .navbar-ul-li-a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #de2727;
    bottom: -1em;
    transition: all ease-in-out 250ms;
  }
  
  .navbar-ul-li-a:hover::after {
    width: 60%;
  }
  
  .navbar-ul-li-a:hover {
    color: #de2727;
  }
  
  .navbar-ul-li-button {
    margin: 10px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbar-ul-li-button {
  margin: 10px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.navbar-ul-li-button::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  width: 0%;
  background-color: #de2727;
  bottom: -0.5em;
  transition: all ease-in-out 250ms;
}

.navbar-ul-li-button:hover::after {
  width: 100%;
}
.navbar-logo {
  width: 200px;
  height: 100px;
 
}
