.testset-page {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.testset-column {
  flex: 0 0 calc(100% / 5);
  padding: 10px;
  box-sizing: border-box;
  background-color: #e3e3e3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.testset-column h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.card {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}