.table-design{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.batch {
  background-color: #f0f0f0;
  padding: 50px;
}

.tableHeader{
  border-width: 1px !important;
  border-style: solid !important;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 23px;
}

.tableData{
  border-width: 1px !important;
  border-style: solid !important;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 23px;
}

.test-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.test-pass {
  background-color: #4CAF50;
  color: white;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.test-fail {
  background-color: #FF0000;
  color: white;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  width: 100%;
}

