
.test-batch {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  padding: 50px;
  overflow-x: auto;
  zoom: 80%;
  height: 100%;
  margin-top: 100px;
}



.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 50px 50px 0px 0px rgba(163, 150, 157, 0.15);
  width: 100%;
}
.styled-table thead tr {
  background-color: rgba(62, 66, 47, 0.15);
  color: #292525;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
}
.styled-table th,
.styled-table td {
    padding: 20px 30px;
    border: 2px solid #aaa2ec;

}
.styled-table tbody tr {
 
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.test-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center; 
}
.test-rectangle {
  background-color: #118615;
  color: white;
  height: fit-content; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  transition: background-color 0.3s ease;
  flex: 1;
  min-width: unset; 
  height: unset; 
  white-space: nowrap;
}

.test-rectangle-fail {
  background-color: #ff0000;
  color: white;
  height: fit-content; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  transition: background-color 0.3s ease;
  flex: 1; 
  min-width: unset; 
  height: unset; 
  white-space: nowrap; 
}



.ov {
  text-align: center;
  font-size: 20px;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  width: 100%;
}

h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.test-batch-container {
  display: flex;
  justify-content: center;
}

.test-batch-table {
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.test-batch-table th,
.test-batch-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.failed-step-count{
  position: relative; 
  width: 100%;
  text-align: center; 
}
.checkmarkov {
  position: relative; 
  width: 100%;
  text-align: center; 
}
.test-name {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  
}

.test-passed {
  background-color: #4caf50;
  color: white;
}

.test-failed {
  background-color: #ff0000;
  color: white;
}

.red-cell {
  background-color: #5a0303;
  color: white;
}

.green-cell {
  background-color: #88cf8b;
  color: white;
}

.red-cell:hover {
  background-color: initial; 
  color: rgb(0, 0, 0);
}



.green-cell:hover {
  background-color: initial;
  color: rgb(0, 0, 0);
}

.freeze-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto; 
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.freeze-label {
  margin-left: auto;
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 40px auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); } 
  75% { transform: rotate(360deg); } 
}

